# LaTeX выгрузка и временные файлы
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.xdv
*.nav
*.snm
*.vrb

# Временные файлы редакторов и ОС
.DS_Store
.vscode/
*.swp

# Если вы хотите игнорировать промежуточные PDF, раскомментируйте строку:
# *.pdf

# При этом можно заставить git отслеживать конкретные выходные файлы
# !output/*.pdf
